# Builds
.build/
node_modules/
**/.yarn/install-state.gz

# Temporary files
tmp/
*.log
**/.rpm/cache/

# Code coverage / test artifacts
*.out
coverage.*
.coverage
*.coverprofile
profile.cov
htmlcov/
test-results/

# Secrets
.env*
!.env.example
!integration/testdata/**/.env

# OS files
.DS_Store

# Editor/IDE
.idea
*.iml
.vscode
